.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #34495e;
  color: white;
}

.card:hover {
  background-color: #455a6e;
}

.span-icon:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #a8adb1;
}
