@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
  background-image: url('./planets-bg.jpg');
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-attachment: fixed;
  font-family: "Russo One", sans-serif;
}